* {
  margin: 0;
}

html,
body {
  height: 100%;
}

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  width: 100px;
  height: 25px;
  background-color: #ffa7a8;
  color: white;
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 4px;
  margin-left: 15px;
}

input {
  height: 20px;
}

form {
  margin-top: 50px;
}

h1 {
  margin-bottom: 11px;
  text-transform: capitalize;
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
  text-transform: capitalize;
}
